.content {
    width: 1024px;
    margin: 0 auto;
    padding: 24px;
    min-height: 100vh !important;
}

.records {
    font-size: 18px;
    color: gray;
    margin-left: 8px;
    float: right;
}

.sortButton {
    float: right;
    margin-bottom: 14px;
}
